* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
 
/* BARRA SUPERIOR */
.barra{
    padding: 32px 0;
    background-color: #203b3b;
    margin-top: 70px;
    width: 100%;
    height: 25px;
}
 
/* MENU */
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 70px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
 
.logo {
    font-size: 46px;
    color: rgb(22, 32, 25);
    font-weight: 800;
    font-family: 'Times New Roman';
    font-variant: small-caps;
    margin-top: -120px;
    margin-right: 22%;
}
 
.menu .navbar ul li {
    float: left;
}
 
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #b6cbba;
    margin-right: 60px;
    display: block;
    transition: 0.3s;
}
 
.menu .navbar ul li a:hover {
    color: rgb(96, 165, 99);
}
 
#menu {
    display: none;
}
 
.menu-icono {
    width: 25px;
    display: block;
}
 
.menu label {
    display: none;
    cursor: pointer;
}
 
/* RESPONSIVE MENU */
@media (max-width: 991px) {
 
    .menu {
        padding: 30px;
    }
 
    .menu label {
        display: inline-block;
    }
 
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(56, 102, 102);
        display: none;
    }
 
    .menu .navbar ul li {
        width: 100%;
    }
 
    #menu:checked ~ .navbar {
        display: block;
    }
 
    .menu .navbar ul li a {
        margin-right: 0;
        color: rgb(142, 193, 159);
    }
}
 
/* LOGO PULGÓN */
.pulgon {
    float: left;
    margin-top: -120px;
    z-index: 1000;
}
 
.logopulga {
    width: 70px;
    height: 70px;
}
 
#label-buzón{
    font-family: Arial, sans-serif;
    font-weight: 100;
    position: absolute;
    top: 425px;
    left: 125px;
}
 
#buzón{
   resize: none;
   background-color: rgb(241, 248, 241);
   font-family: Arial, sans-serif;
   font-size: 13px;
   width: 45%;
   height: 250px;
   position: absolute;
   top: 450px;
   left: 125px;
   border-color: #002c1d;
 
}
 
body{
    background-blend-mode: soft-light;
    background-color: #d9d9d9;
    background-image: url(Imagen/conalep.png);
    background-position: top;
    background-repeat: no-repeat;
    margin: 0;
    background-position: right 170px;
 
}
 
 
#label-menu{
    margin-top: 10px;
    color: #000;
}
 
button{
    display: block;
    width: 250px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 30px;
    font-weight: bold;
    color: floralwhite;
    border-radius: 5px;
    margin: 20px auto;
    position: absolute;
    top: 785px;
    left: 315px;
    border-color: #000000;
}
 
 
 
.parrafo{
    color: #000000;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: 5;
    font-style: normal;
    text-align: left;
    position: absolute;
    top: 160px;
    left: 125px;
}

.p1{
    font-size: 15.8px;
}

#label-Categoria{
    font-family: Arial, sans-serif;
    font-weight: 100;
    position: absolute;
    top: 230px;
    left: 125px;
}
 
#Categoria{
    position: absolute;
    top: 250px;
    left: 125px;
    width: 140px;
    height: 27px;
    color: #000;
    background-color:  rgb(239, 247, 239);
    border-color: #131615;
}
 
#label-lugar{
    font-family: Arial, sans-serif;
    font-weight: 100;
    position: absolute;
    top: 230px;
    left: 275px;
}
 
#lugar{
    position: absolute;
    top: 250px;
    left: 275px;
    width: 140px;
    height: 27px;
    color: #000;
    border-color: #131615;
    background-color: rgb(239, 247, 239);
}
 
#label-fecha{
    font-family: Arial, sans-serif;
    font-weight: 100;
    position: absolute;
    top: 305px;
    left: 125px;
}
 
#fecha{
    position: absolute;
    top: 325px;
    left: 125px;
    color: #000;
    background-color: #ffffff;
    border-color: #c2ebdd;
}
 
#label-actual{
    font-family: Arial, sans-serif;
    font-weight: 100;
    position: absolute;
    top: 355px;
    left: 125px;
}
 
#actual{
    position: absolute;
    top: 375px;
    left: 125px;
    color: #000;
    background-color: #ffffff;
    border-color: #c2ebdd;
 
}
 
#label-razon{
    font-family: Arial, sans-serif;
    font-weight: 100;
    position: absolute;
    top: 730px;
    left: 125px;
}
 
#razon{
    width: 120px;
    height: 35px;
    position: absolute;
    top: 745px;
    left: 125px;
    color: #000;
    background-color: rgb(239, 247, 239);
    border-color: #00271a;
 
}
 
.btn{
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    height: 35px;
    background: #203b3b;
    border: none;
    margin-top: 30px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;

} 


.btn:hover {
    background:  #b6cbba;
    color: #000;
}

   

.liw {
    border: 2px solid black;
    padding: 10px;
    position: absolute;
    top: 125%;
    left: 80%;
    font-size: large;
}
 
.icons a {
    color: #203b3b;
    text-decoration: none;
}
 
.icons ion-icon {
    font-size: 60px;
    transition: 0.3s ease;
    margin: 12%;
}
 
.icons ion-icon:hover {
    color:  rgb(96, 165, 99);
}
 
.icons{
    border: none;
    padding: 10px;
    justify-content: right;
    justify-items: right;
    display: flex;
    position: absolute;
    top: 135%;
    left: 75%;
}
 