* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* LOGO PULGÓN */
.pulgon {
    float: left;
    margin-top: -120px;
    z-index: 1000;
}

.logopulga {
    width: 70px;
    height: 70px;
}


.perfil {
    margin-right: 40px;
    border-radius: 50%;
    cursor: pointer;
    width: 70px;
    height: 70px;
}



.profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: transparent;
    border-radius: 8px;
    padding: 20px 30px;
    text-align: center;
}

.profile-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

.profile-icon {
    font-size: 99px;  /* Tamaño grande del ícono */
    color: #2e2d2d;   /* Color gris oscuro */
    margin-bottom: 20px;
}

.profile-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 20px;
    color: #555;
}

.profile-item i {
    margin-right: 12px;
    font-size: 27px;
    color: #444444;
}

.profile-item span {
    font-weight: bold;
    color: #333333;  /* Color negro para el texto destacado */
}

.btn-back {
    display: inline-block;
    margin-top: 20px;
    background-color: #203b32;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.btn-back:hover {
    background-color: #444444;
}


body{
    background-blend-mode: soft-light;
    background-color: #d9d9d9;
    background-image: url(Imagen/conalep.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: right -25%;
}