/* RESET GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-blend-mode: soft-light;
    background-color: #d9d9d9;
    background-image: url("Imagen/conalep.png"); /* Cambia la ruta */
    background-size: 90%;       /* Ajusta la imagen al tamaño de la pantalla */
    background-position: center 67px;  /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    

}

/* BARRA SUPERIOR */
.barra {
    padding: 32px 0;
    background-color: #203b3b;
    margin-top: 70px;
    width: 100%;
    height: 20px;
}

/* MENU */
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 70px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 46px;
    color: rgb(22, 32, 25);
    font-weight: 800;
    font-family: 'Times New Roman';
    font-variant: small-caps;
    margin-top: -120px;
    margin-right: 22%;
}

.menu .navbar ul li {
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #b6cbba;
    margin-right: 60px;
    display: block;
    transition: 0.3s;
}

.menu .navbar ul li a:hover {
    color: rgb(96, 165, 99);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
    display: block;
}

.menu label {
    display: none;
    cursor: pointer;
}

/* RESPONSIVE MENU */
@media (max-width: 991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: inline-block;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(56, 102, 102);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: block;
    }

    .menu .navbar ul li a {
        margin-right: 0;
        color: rgb(142, 193, 159);
    }
}

/* LOGO PULGÓN */
.pulgon {
    float: left;
    margin-top: -120px;
    z-index: 1000;
}

.logopulga {
    width: 70px;
    height: 70px;
}

/* CONTENIDO */
.content {
    width: 100%;
    margin: 0;
    padding: 0, 20px;
    color: black;
    position: relative;
}

.content .par {
    padding: 0 0 25px 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 200%;
    text-align: left;
}

.content h1,
.content h2 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0 0 25px 20px;

}

.content h1 {
    font-size: 80px;
    margin-top: 5%;
}

.content h2 {
    font-size: 70px;
    color: #203b3b;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #203b3b;
    border: none;
    margin: 10px 0 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.content .cn a {
    color: white;
}

.cn:hover {
    background-color: #b6ccb6;
}

/* FORMULARIO */

.form {
    width: 25%;
    background: transparent;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    border-radius: 10px;
    padding: 25px;
    height: auto;
}




.form h2 {
    width: 100%;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    color: #000;
    font-size: 22px;
    background-color: transparent;
    border-radius: 10px;
    padding: 8px;
}

.form input {
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
}

.form input:focus { outline: none; }

::placeholder {
    color: #000;
}

.btnn {
    color: #ffff;
    font:  sans-serif;
    width: 100%;
    height: 40px;
    background: #203b3b;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.btnn a{
    color: #ffff;
}

.btnn:hover {
    background: #b6ccb6;
    color: #203b3b;
}

.form .link {
    font-size: 17px;
    text-align: center;
    padding-top: 20px;
}

.form .link a {
    color: #000;
    text-decoration: underline;
}

.form .link a:hover{
    color: #203b3b;
    transition: 0.3s ease;
}

.liw {
    padding: 10px 0 15px;
    text-align: center;
}

.icons a {
    color: #203b3b;
    text-decoration: none;
}

.icons ion-icon {
    font-size: 40px;
    transition: 0.3s ease;
    margin: 4%;
}

.icons ion-icon:hover {
    color: rgb(96, 165, 99);
}

.icons{
    justify-content: center;
    justify-items: center;
    display: block;
}

